 body {
    background-color: #C4C4C4;
    
}
.title {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 50px;
}

.search-line {
    text-align: center;
}

.search-input {
    width: 500px;
    height: 61px;
    border: none;
    padding-left: 15px;
    margin-bottom: 0;   
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
} 

.users, .repo-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.user-prev:hover{
    background-color: #65CDF9;
}

.users-wrapper {
    display: flex;
    justify-content: center;
}

.user-prev {
    width: 500px;
    height: 44px;
    border: 1px solid black;
    background-color: #E3E3E3;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: left;
    padding-left: 15px;
    box-sizing: border-box;
}

/* .autocomplete {
    height: 240px;
} */

.bookmarks {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.repo {
    box-sizing: border-box;
    width: 500px;
    height: 100px;
    background-color: #E27BEB;
    border: 1px solid black;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.repo-list{
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}

.cross {
    width: 65px;
    height: 65px;
    cursor: pointer;
    margin-right: 30px;
    }

.cross:before, .cross:after {
    top: 50%;
    content: ""; 
    position: absolute; 
    width: 60px; 
    height: 4px; 
    background: #FF0000;
}

.cross:before {transform: rotate(45deg);}
.cross:after {transform: rotate(-45deg);}